body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;

}

.dark-mode-section {
    display: flex;
    align-items: center;
    gap: 7px;
}

main {
    padding: 60px;
}
.back-button {
    display: inline-block;
    margin-bottom: 60px;
    padding: 10px 28px;
    background-color: white;
    color: hsl(200, 15%, 8%);
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.country-details-wrapper {
      max-width: 1200px;
      margin: 0 auto;
}
.back-button-wrapper{
    margin-bottom: 60px;
}
 .country-details-container {
    width: 100%;
} 

.country-details-card {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;

}

.back-button {
    display: inline-block;
}

.details-flag {
    width: 500px;
    max-width: 100%;
    height: auto;
    display: block
}

.details-content {
    flex:1;
    max-width: 600px;
}
.details-content h1{
    margin-top: 0;
    margin-bottom: 30px;
}

.detail-meta {
    display: flex;
    gap: 60px;
    margin-bottom: 40px;

}

.details-column p{
   margin: 0 0 14px 0;
}

.label {
    font-weight: 700;
}
.value {
    font-weight: 400;
}
.border-countries-section {
   display: flex;
   align-items: center;
   gap: 15px;
   flex-wrap: wrap;
}
.border-countries-list {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.border-country {
    display: inline-block;
    padding: 6px 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}