body {
    background-color: hsl(0, 0%, 98%);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;

}

.dark-mode-section {
    display: flex;
    align-items: center;
    gap: 7px;
}